<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Alteração de senha para [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Senha trocada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" >
                <strong>Um erro ocorreu durante o processo!</strong> A senha não pode ser trocada.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                A senha e a confirmação da senha não estão iguais!
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nova Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nova senha"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required required ng-required-err-type="requerido" ng-minlength-err-type="senhaTamanhoMin" ng-maxlength-err-type="senhaTamanhoMax">
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirme a nova senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirme a nova senha"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required ng-required-err-type="requerido" ng-minlength-err-type="confirmacaoTamanhoMin" ng-maxlength-err-type="confirmacaoTamanhoMax">
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</div>
