<div ng-cloak ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="fator">Função Objetivo:</label>
                    <select class="form-control">
                        <option>MAX</option>
                        <option>MIN</option>
                    </select>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group" ng-repeat="i in variaveis" style="margin-top: 10px">
                    <input type="text" class="form-control" style="width: 80px;" id="fator" placeholder="Ex: 2">
                    <label for="fator">x<sub>{{$index}}</sub></label>
                    <select class="form-control" ng-if="!$last" style="margin-right: 5px">
                        <option>+</option>
                        <option>-</option>
                        <option>X</option>
                        <option>/</option>
                    </select>
                </div>
                <button type="submit" ng-click="addVar()" class="btn btn-default" style="margin-top: 10px"><i class="fa fa-plus" ></i></button>
            </form>

            <hr/>

            <form class="form-inline" ng-repeat="r in restricoes">
                <label>Restrição {{$index + 1}}</label>
                <div class="form-group" ng-repeat="i in variaveis" style="margin-top: 10px">
                    <input type="text" class="form-control" id="fator1" placeholder="Ex: 2" style="width: 80px;">
                    <label for="fator">x<sub>{{$index}}</sub></label>
                </div>
                <select class="form-control" style="margin-top: 10px">
                    <option>></option>
                    <option><</option>
                    <option>>=</option>
                    <option><=</option>
                    <option>=</option>
                    <option><></option>
                </select>
                <input type="text" class="form-control" style="margin-top: 10px; width: 80px;" placeholder="Ex: 1">
            </form>
            <button type="submit" ng-click="addRestricao()" class="btn btn-default" style="margin-top: 10px"><i class="fa fa-plus" ></i></button>

        </div>
    </div>
</div>
